page-price-list {
    ion-item-divider
    {
    margin-bottom: 0px!important;
    color: purple!important;
    font-weight: 700!important;
    font-size: large!important;
    text-align: center;
    }
}
