page-register {
    .done-message{
    color: #90698b;
    /* font-family: calbiria; */
    /* font-weight: 700; */
    font-size: larger;
    }

    .icon-header-backgound{
        background-color: #ab75ad;
        font-size: larger!important;
    }

    .ion-label-title{
        font-size: larger!important;
    }
}
